[% USE DBI('dbi:ADO:Provider=SQLNCLI;Server=nqsaaa01;Database=QBase;trusted_connection=yes', '', '')  -%]
[% USE Date(format = '%Y-%m-%d' locale = 'de_CH') %]
[% USE Number.Format %]
[% INCLUDE '_QS_Header.html' %]


<center>
<h1>
	Questor Systems GmbH - Expense Reclaim Form
</h1>
</center>

Employee Name: Farley Balasruiya<p>
Employee No  : QS10001<p>
Date         : [% Date.format(date.now) %]<p>
Deaprtment   : IT-DEPT<p>
Claim ID     : #003<p>
Total Claim  : <b>2,935.95 CHF</b><p>
<p>
    

<table  align=center border=2>
<tr><th>ID</th><th>Date</th><th>Amount</th><th>Currency</th><th>Category</th><th>CHF</th><th>Details</th></tr>
[% FOREACH item = DBI.query('select 
	expense_id,  CONVERT(nvarchar(30), value_date, 102) as value_date, category, amount, 
	currency_code, amount_CHF, description
from
	dbo.expense_items
where
	booked_date is NULL
order by
	expense_id ')  -%]
<tr>
<td> #[% item.expense_id | format('%04d')%] </td><td>[% item.value_date | format('%12s') %]</td><td align=right>[% item.amount | format('%9.2f') %]</td><td>[% item.currency_code | format('%5s') %]</td>  <td>[% item.category | format('%7s') %]</td>  <td align=right>[% item.amount_CHF | format('%9.2f') %]</td><td>[% item.description %]
</tr>
[% END - %]
</table>


<p>


Employee Name: Farley Balasuriya<p>
Date:[% Date.format(date.now) %]<p>
<p>
Signature: __________________________________________<p>

[% INCLUDE '_QS_Footer.html' %]